---
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_image: ronclassroom2.jpg
  cta_label: "Physics"
  cta_url: "/physics"
  cta_label2: "Math"
  cta_url2: "/math"
  cta_label3: "Chem"
  cta_url3: "/chemistry"
---

{% include base_path %}

<h2>Welcome</h2>

<img src='/images/RonLicht2.jpg' style='float:left; margin:0 10px 15px 10px; width:125px;'>
<p>I am a retired Alberta teacher and it is my wish to continue to share the resources that I developed over twenty five years of teaching.</p>
<div style='clear:both'/>

<h2><a href="/students">Students</a></h2>

<p>It is my hope that these resources continue to be used by the people they were intended for – i.e. interested students. So, if you are a student learning about <a href="/physics">physics</a>, <a href="/math">math</a> or <a href="/chemistry">chemistry</a>, feel free to use the lessons and answer keys as thousands of students have successfully done before you.</p>

<h2><a href="/teachers">Teachers</a></h2>

<p>Teachers have been borrowing, using, and pilfering resources from each other for centuries. Perhaps you can use <a href="/teachers">these materials</a> to supplement your teaching or, more strongly, as a starting point in developing resources for your students.</p>

<p>I am also willing to share other resources like quizzes and tests that I have not placed on this website.  If you want access to these resources <a href="/contact">contact me.</a>

<p>I used these materials as the foundation for my teaching practice that I call <a href="/sil"><strong>Structured Independent Learning</strong></a>. If you are interested in changing your teaching practice from being a “sage on the stage” to a “guide on the side” approach, I would love to help you out. I would be happy to <a href="/contact">hear from you</a> if you have any further questions about bringing this kind of approach to your practice.</p>


{% include paginator.html %}
