<h2>About this Website</h2>

<p>This site has a complete set of lessons, answer keys, review materials, and additional study materials for the following courses:</p>

<ul>
<li>Physics 20</li>
<li>Physics 30</li>
<li>Chemistry 20</li>
<li>Math 10C</li>
</ul>

<p>These courses follow the <a href='https://education.alberta.ca/programs-of-study/' target='newWindow'>Albera Curriculum</a> (up to date as of 2016).</p>

<p>For each course you will find lessons and answer keys divided into several units. In addition, you may find a <strong>Review</strong> section, a <strong>Videos</strong> section, and a <strong>Tool Box</strong> section which contains additional materials.</p>


