{% include base_path %}

<div class="wrapper" style='width:100%;'>
    <div style='margin: 0 auto; width: 60%; min-width:350px;'>
        <a href='/physics20' class='btn btn--inverse btn--large'>Physics 20</a>
        <a href='/physics30' class='btn btn--inverse btn--large'>Physics 30</a>
        <a href='/math' class='btn btn--inverse btn--large'>Math 10C</a>
        <a href='/chemistry' class='btn btn--inverse btn--large'>Chem 20</a>
    </div>
    <div class="page__footer-copyright" style='margin: 0 auto; width: 50%;margin-left:50px;'>&copy; {{ site.time | date: '%Y' }} <a href='/copyright'>{{ site.name | default: site.title }}</a></div>
</div>

