{% include base_path %}

{% assign subject = include.subject %}
{% assign subjpath = include.subjpath %}
{% assign nunit = include.nunit %}
{% assign unittitle = include.unit %}
{% assign icon = true %}

<div class="{{ include.type | default: "list" }}__item boxed__item">
   <a href='/lessons/{{ subjpath }}/unit-{{ nunit }}'>
    <h2 class="header-unit" style="color:black; text-decoration:none;">{{ subject }}</h2>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      {% if include.type == "grid" and post.image != blank %}
        <div class="archive__item-teaser">
          <img src=
              "{{ post.image | prepend: "/images/" | prepend: base_path }}"
            alt="">
        </div>
      {% endif %}
      <h3>{{ unittitle }}</h3>
      {% if extra %}
      <h2 class="archive__item-title" itemprop="headline">{{ unittitle | markdownify | remove: "<p>" | remove: "</p>" }}{% if icon %}<i class="fa fa-star" aria-hidden="true"></i>{% endif %}</h2>
      {% endif %}
    </article>
  </a>
</div>

