
{% assign path = page.url | split:"/" %}

{% assign subject = path[2] %}

{% assign lessonitem = path[3] | split:"-" %}
{% assign unitnum = lessonitem[1] %}
{% assign lessonnum = lessonitem[2] %}

{% assign units = "" | split:"|"  %}
{% assign lessons = "" | split:"|"  %}

{% for lesson in site.data.lessons %}
    {% assign subj = lesson.subject | split:" " | join:"" %}
    {% if subj == subject %}
        {% assign units = units | push:lesson.unit %}
    {% endif %}
{% endfor %}
{% assign units = units | uniq %}

{% assign loop_index = 0 %}
{% for unt in units %}
   {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
   {% if loop_index == unitnum %}
      {% assign unitname = unt %}
   {% endif %}
{% endfor %}

{% for lesson in site.data.lessons %}
    {% assign subj = lesson.subject | split:" " | join:"" %}
    {% if subj == subject and unitname == lesson.unit %}
        {% assign lessons = lessons | push: lesson.id %}
    {% endif %}
{% endfor %}

{% assign loop_index = 0 %}
{% for lesson in lessons %}
   {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
   {% if loop_index == lessonnum %}
      {% assign lessonid = lesson %}
   {% endif %}
{% endfor %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% assign subjpath = subject | split:" " | join: "" %}

 {% for lessonitem in site.data.lessons %}
      {% assign subj = lessonitem.subject | split:" " | join:"" %}
      {% if subj == subject and lessonitem.id == lessonid  %}
         {% assign lessontarg = lessonitem %}
      {% endif %}
    {% endfor %}

<div id="main" role="main">
<div>
  <h1 class="page__title">{{ lessontarg.title}}</h1>
  <p><strong>Subject:</strong> {{ lessontarg.subject }}</p>
  <p><strong>Unit:</strong> {{ lessontarg.unit }}</p>

  <div class="grid__wrapper"><ul>
      <div class="list__item">
          <a href="">PDF</a>
      </div>
      <div class="list__item">
          <a href="">Word</a>
      </div>
  </ul></div>
</div>
</div>

