{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% assign path = page.url | split:"/" %}

{% assign subject = path[2] %}

{% assign lessonitem = path[3] | split:"-" %}
{% assign unitnum = lessonitem[1] %}

{% assign units = "" | split:"|"  %}
{% assign lessons = "" | split:"|"  %}

{% for lesson in site.data.lessons %}
    {% assign subj = lesson.subject | split:" " | join:"" %}
    {% if subj == subject %}
        {% assign units = units | push:lesson.unit %}
        {% assign subjfull = lesson.subject %}
    {% endif %}
{% endfor %}
{% assign units = units | uniq %}
{% assign numunits = units.size %}

{% assign unitprev = unitnum | minus: 1 %}
{% assign unitnext = unitnum | plus: 1 %}

{% if unitnext > numunits %}
   {% assign unitnext = 0 %}
{% endif %}

{% assign loop_index = 0 %}
{% for unt in units %}
   {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
   {% if loop_index == unitnum %}
      {% assign unitname = unt %}
   {% endif %}
{% endfor %}

{% for lesson in site.data.lessons %}
    {% assign subj = lesson.subject | split:" " | join:"" %}
    {% if subj == subject and unitname == lesson.unit %}
        {% assign lessons = lessons | push: lesson.id %}
    {% endif %}
{% endfor %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% assign subjpath = subject | split:" " | join: "" %}

<div id="main" role="main">

    {% unless page.header.overlay_color or page.header.overlay_image %}
      <div class="page__title notice--info">
          <h1>{{ subjfull }}: {{ unitname }}
          <span style="font-size:10pt; font-style:italic"> (Unit {{ unitnum }} of {{ numunits }})</span>
          </h1>
      </div>
    {% endunless %}
    {{ content }}

  {% assign icon = false %}
  <div class="grid__wrapper"><ul>
  {% assign nlesson = 1 %}
  {% for lessonid in lessons %}

    {% for lessonitem in site.data.lessons %}
      {% assign subj = lessonitem.subject | split:" " | join:"" %}
      {% if subj == subject and lessonitem.id == lessonid  %}
         {% assign lesson = lessonitem %}
      {% endif %}
    {% endfor %}

    {% assign lessontitle = lesson.title %}
    {% assign cardtitle = 'Lesson ' | append:lessonid %}

    {% assign linkitem = '/lessons/' | append:subjpath | append:'/lesson-' | append:unitnum | append:'-' | append:nlesson %}

    {% include card-item.html link-item=linkitem description=lessontitle title=cardtitle color='blue' icon='sticky-note-o'%}

     {% assign nlesson = nlesson | plus:1 %}
  {% endfor %}
  </ul></div>

  <nav class="pagination">
    {% if unitprev > 0 %}
      <a href='/lessons/{{ subjpath }}/unit-{{unitprev}}' class="pagination--pager" title="Previous Unit">{{ site.data.ui-text[site.locale].pagination_previous }} Unit</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous }}</a>
    {% endif %}
    {% if unitnext > 0 %}
      <a href='/lessons/{{ subjpath }}/unit-{{unitnext}}' class="pagination--pager" title="Next Unit">{{ site.data.ui-text[site.locale].pagination_next }} Unit</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next }}</a>
    {% endif %}
  </nav>
</div>

