---
layout: default
---

{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% assign path = page.url | split:"/" %}

{% assign subject = path[2] %}
{% assign unitnum = path[3] %}


{% assign units = "" | split:"|"  %}
{% assign lessons = "" | split:"|"  %}

{% for lesson in site.data.lessons %}
    {% assign subj = lesson.subject | split:" " | join:"" %}
    {% if subj == subject %}
        {% assign lessons = lessons | push: lesson.id %}
        {% assign units = units | push:lesson.unit %}
    {% endif %}
{% endfor %}
{% assign units = units | uniq %}

{% assign loop_index = 0 %}
{% for var1 in var2 %}
    {% if this == that %}
        {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
        <div id="name-{{ loop_index }}">
          <p>{{ some.variable }}</p>
        </div>
    {% endif %}
{% endfor %}

{% assign loop_index = 0 %}
{% for unt in units %}
   {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
   <p>{{unt}}: {{forloop.index}}</p>
   {% if loop_index == unitnum %}
      {% assign unitname = unt %}
   {% endif %}
{% endfor %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive boxed__item">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    <h3>Hello this is ARCHIVE-UNIT LAYOUT : {{page.url}} </h3>
    {{ content }}
    <h4>Hello from archive-unit LAYOUT</h4>
    <p>Subject: <strong>{{ subject }}</strong></p>
    <p>Unit: <strong>{{ unitnum }}</strong></p>
    <p>Unit Name: <strong>{{ unitname }}</strong></p>
  </div>
</div>
